.bookingSlotContainer{
    background-color: #495E57;
    border-radius: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.bookedTables{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEFEE;
    border-radius: 1vw;
    padding: 0.5vw;
    gap: 1vw;
}
.availableTimes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEFEE;
    border-radius: 1vw;
    padding: 0.5vw;
    gap: 1vw;
}
.heading{
    font-family: 'Markazi Text';
    color: #333333;
}
b{
    font-family: 'Karla';
    color: #333333;
}