.bookingSlotContainer{
    background-color: #495E57;
    border-radius: 2vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    height: 25vw;
    width: 30vw;
    overflow-x: hidden;
    overflow-y: auto;
}
.bookingSlotContainer h1{
    color: #495E57;
    font-size: 2vw;
    font-family: "Markazi Text";
}
.subContainer{
    background-color: #EDEFEE;
    padding: 1vw;
    border-radius: 1vw;
}
#reserve{
    color: #EDEFEE;
}