.myHeader{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 10px;
    position:sticky;
    top:0px;
    background-color: white;
    z-index: 100;
}
.myHeader img{
    margin: 0 18px;
    /* border: 1px solid blue; */
}
@media only screen and (max-width:1200px) {
    .myHeader{
        padding: 7px;
    }
    .myHeader img{
        margin: 0 15px;
        height: 40px;
    }
}
@media only screen and (max-width:800px) {
    .myHeader{
        padding: 5px;
    }
    .myHeader img{
        margin: 0 10px;
        height: 30px;
    }
}
@media only screen and (max-width:650px) {
    .myHeader{
        padding: 3px;
    }
    .myHeader img{
        margin: 0 7px;
        height: 20px;
    }
}
@media only screen and (max-width:400px) {
    .myHeader{
        padding: 1px;
    }
    .myHeader img{
        margin: 0 5px;
        height: 10px;
    }
}