.menuContainer{
    background-color: #FBDABB;
    padding: 40px;
    overflow: hidden;
}
.menuHeading{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    position: relative;
    top: 3vw;
}
.cards{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
}