.App {
  text-align: center;
}
.head_nav{
  position: absolute;
width: 863px;
height: 41px;
left: 316px;
top: 28px;
border:2px solid red;
}
.myLogo{
  position: absolute;
width: 148px;
height: 40px;
left: 316px;
top: 28px;
border: 2px solid blue;
}
.links{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 28px;

position: absolute;
width: 640px;
height: 24px;
left: 539px;
top: 45px;
}
.link{
  width: 55px;
height: 24px;

/* navbar */

font-family: 'Karla';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
/* identical to box height */

display: flex;
align-items: center;
text-transform: capitalize;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.main{
  border: 2px solid red;
}